body
{
    background-color: black !important;
}

.text1 {
    color:burlywood;
}
.text2 {
    position: relative;
    text-align: center;
    color:burlywood;
}

.clock {
    position: relative;
    text-align: center;
    color:burlywood;
    font-size: 60px;
}

p {
    position: relative;
    text-align: center;
    font-size: 40px;
    color: burlywood;
}

.mt-5{
    margin-top: 5%;
}